<!DOCTYPE html>
<html>
<head>
  <title>DeliveryUncle</title>
  <%= stylesheet_link_tag    "delivery_uncle/application", media: "all" %>
  <%= javascript_include_tag "delivery_uncle/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
